<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Agenda de paciente</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1>Agenda de paciente</h1>
      <form action="/buscarPaciente" method="post">
        <div class="form-group">
          <label for="cedula">Cédula del Paciente</label>
          <input
            type="text"
            class="form-control"
            id="cedula"
            name="cedulaPaciente" />
        </div>
        <a href="/citas/agendar" class="btn btn-success">Agendar Cita</a>
        <button type="submit" class="btn btn-primary">Buscar</button>
        <a href="/" class="btn btn-secondary">Regresar</a>
      </form>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Médico</th>
            <th>Especialidad</th>
            <th>Duracion</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:each="cita : ${citas}">
            <tr>
              <td th:text="${cita.id}"></td>
              <td th:text="${cita.fecha}"></td>
              <td th:text="${cita.hora}"></td>
              <td th:text="${cita.nombreMedico}"></td>
              <td th:text="${cita.especialidadMedico}"></td>
              <td th:text="${cita.duracion}"></td>
              <td>
                <a
                  th:href="@{/citas/borrar/{citaId}(citaId=${cita.id})}"
                  class="btn btn-danger btn-lg btn-img">
                  <span class="text-white">Borrar</span>
                </a>
                <a
                  th:href="@{/citas/editar/{citaId}(citaId=${cita.id})}"
                  class="btn btn-primary btn-lg btn-img">
                  <span class="text-white">Editar</span>
                </a>
              </td>
            </tr>
          </th:block>
        </tbody>
      </table>
      <div>
        <p th:text="${mensajeError}"></p>
      </div>
    </div>
  </body>
</html>
