<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Datasource configuration -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/bdhospitalmexico</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">administrador1234</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Other Hibernate properties -->
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- Entity mappings -->
        <mapping class="com.IC4700.model.Paciente" />
        <mapping class="com.IC4700.model.Medico" />
        <!-- mapping class="com.IC4700.model.Cita" /-->

    </session-factory>
</hibernate-configuration>
