body {
  background-color: #ccc;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.nav-link {
  color: black;
}

.nav-link.active {
  color: #fff;
  background-color: #000;
}

.nav-link:hover {
  color: #b0e0e6;
  background-color: #b0e0e6;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: skyblue;
  opacity: 0.5;
}
